# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Environment variables
.env
.env.local

# Python virtual environments
venv/
env/
ENV/
